<modal-window modal-id="linkAccountsFormModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" >Link Multiple Social Accounts!</h4>
  </div>
  <div class="modal-body">
    <div class="well" style="text-align:center;">
      <button type="button" ng-click="$ctrl.linkFbAccount();" style="padding-right:10px;" class="btn btn-primary"><img style="margin-right:10px;width:32px;height:32px;" src="assets/fb.png"/>Link Facebook Account</button>
      <google-plus-signin clientid="790030169806-2os08flcrvpqo4iql2b3slborg5jmuds.apps.googleusercontent.com" autorender="false" customtargetid="google-link-account-button">
        <button type="button" id="google-link-account-button" class="btn btn-danger"><img style="border:solid;margin-right:10px;width:32px;height:32px;" src="assets/gplus.png"/>Link Google Account</button>
      </google-plus-signin>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</modal-window>
