<div class="container-fluid header">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h2  style="text-align:center;">Intelligeatsa</h2>
    </div>
    <div class="col-md-4" style="padding:10px;text-align:center;">
      <div class="btn-group" role="group">
        <button type="button" ng-click="$ctrl.login();" class="btn btn-default">Login</button>
        <button type="button" class="btn btn-default">Sign Up</button>
      </div>
    </div>
  </div>
</div>
