<div class="container-fluid header">
  <div class="row">
    <div class="col-md-4" style="padding:20px;text-align:center;">
      <search-bar placeholder="Find a recipe!"></search-bar>
    </div>
    <div class="col-md-4">
      <a href="#/home"><h2  style="text-align:center;color:#EDEDED;">Intelligeatsa</h2></a>
    </div>
    <div class="col-md-4" style="padding:20px;text-align:center;">
      <div class="btn-group" role="group">
        <a type="button" class="btn btn-default">Login</a>
        <a href="#/register" type="button" class="btn btn-default">Sign Up</a>
      </div>
    </div>
  </div>
</div>
