<div class="row">
  <div ng-if="$ctrl.recommendationMode == false" class="col-md-12" style="text-align:left;padding:20px;">
    <h3>{{$ctrl.title}}</h3>
  </div>
  <div ng-if="$ctrl.recommendationMode == true && $ctrl.recommenderJobData.length > 0" class="col-md-12" style="text-align:left;padding:20px;">
    <h3>{{$ctrl.title}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-inline carousel-container" >
      <li ng-if="$ctrl.recommendationMode == false" class="carousel-item"  ng-repeat="recipe in $ctrl.recipes">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{$ctrl.generateRecipePageUrl(recipe.doc._id)}}">
              <img class="img-rounded" style="width:128px;height:128px;" src="assets/crossed-knife-and-fork.png" ng-src="{{recipe.doc.pictureURL}}"/>
            </a>
          </div>
          <div class="panel-footer">
            <a href="{{$ctrl.generateRecipePageUrl(recipe.doc._id)}}"><h5  title="{{recipe.doc.title}}" class="panel-title carousel-item-title">{{recipe.doc.title}}</h5></a>
          </div>
        </div>
      </li>
      <li ng-if="$ctrl.recommendationMode == true && $ctrl.recommenderJobData.length >0" class="carousel-item"  ng-repeat="recipe in $ctrl.recipes">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{'#/recipe/' + recipe.id}}">
              <img class="img-rounded" style="width:128px;height:128px;" src="assets/crossed-knife-and-fork.png" ng-src="{{recipe.pictureURL}}"/>
            </a>
          </div>
          <div class="panel-footer">
            <a href="{{'#/recipe/' + recipe.id}}"><h5  title="{{recipe.title}}" class="panel-title carousel-item-title">{{recipe.title}}</h5></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
