<div class="row">
  <div class="col-md-12" style="text-align:left;padding:20px;">
    <h3>{{$ctrl.title}}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-inline carousel-container" >
      <li class="carousel-item"  ng-repeat="recipe in $ctrl.recipes">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="#/recipe/{{recipe.doc.id}}">
              <img class="img-rounded" style="width:128px;height:128px;" src="assets/crossed-knife-and-fork.png" ng-src="{{recipe.doc.pictureURL}}"/>
            </a>
          </div>
          <div class="panel-footer">
            <a href="#"><h5  title="{{recipe.doc.title}}" class="panel-title carousel-item-title">{{recipe.doc.title}}</h5></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
