<header></header>
<div class="container">
  <div class="row">
    <div style="text-align:center;" class="col-md-12">
      <h3>{{$ctrl.recipe.title}}</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div style="text-align:center;" class="col-md-4">
      <button ng-click="$ctrl.addToGroceryList();" ng-if="$ctrl.sessionExists == true && $ctrl.inGroceryList == false"  class="btn btn-danger">Add to grocery list <img style="height:24px;width:24px;" src="assets/grocery-cart.png"/></button>
      <button ng-click="$ctrl.removeFromGroceryList();" ng-if="$ctrl.sessionExists == true && $ctrl.inGroceryList == true"  class="btn btn-danger">Remove from grocery list <img style="height:24px;width:24px;" src="assets/grocery-cart.png"/></button>
      <img style="width:320px;height:320px;padding:25px;" class="img-rounded" src="assets/crossed-knife-and-fork.png" ng-src="{{$ctrl.recipe.pictureURL}}"/>
    </div>
    <div class="col-md-8">
      <h4 ng-if="$ctrl.recipe.rating.numOfRaters > 0">Rating: {{$ctrl.recipe.rating.value}}</h4>
      <h4 ng-if="$ctrl.recipe.rating.numOfRaters == 0">Be the first to rate!</h4>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" ng-click="$ctrl.rateRecipe(5);" id="rate_5" class="btn btn-default"><span class="badge">5</span></button>
        <button type="button" ng-click="$ctrl.rateRecipe(4);" id="rate_4" class="btn btn-default"><span class="badge">4</span></button>
        <button type="button" ng-click="$ctrl.rateRecipe(3);" id="rate_3" class="btn btn-default"><span class="badge">3</span></button>
        <button type="button" ng-click="$ctrl.rateRecipe(2);" id="rate_2" class="btn btn-default"><span class="badge">2</span></button>
        <button type="button" ng-click="$ctrl.rateRecipe(1);" id="rate_1" class="btn btn-default"><span class="badge">1</span></button>
      </div>
      <h4>Description</h4>
      <div class="panel panel-danger">
        <div class="panel panel-body">
          <p> {{$ctrl.recipe.description}} </p>
          <ul class="nav nav-pills">
            <li role="presentation">Tags: </li>
            <li role="presentation" ng-repeat="tag in $ctrl.recipe.tags">
              <span class="badge">{{tag}}</span>
            </li>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h4>Ingredients</h4>
        <div class="panel panel-danger">
          <div ng-repeat="section in $ctrl.recipe.ingredients">
            <div class="list-group-item" ng-repeat="ingredient in section.sectionIngredients">
              <p>{{ingredient.quantity + '' +ingredient.item}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4>Steps</h4>
        <div class="panel panel-danger">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="instruction in $ctrl.instructionList">
              <p>{{instruction}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- >
  <p>Ingredients</p>
  <ul class="sections">
  <li ng-repeat="section in $ctrl.recipe.ingredients">
  <p>{{section.sectionName}}</p>
  <ul class="ingredients">
  <li ng-repeat="ingredient in section.sectionIngredients">
  <p>{{ingredient.quantity}}+" "+{{ingredient.item}}</p>
</li>
</ul>
</li>
</ul>
</div>
<p>Instructions</p>

<ul class="list-instructions">
<li class="list-group-item" ng-repeat="instruction in $ctrl.instructionList">
<p>{{instruction}}</p>
</li>
</ul>
<!-->
